/* 제목 하단 선을 마진 없이 끝까지 그어지도록 하기 위함 */
/* 배경색을 LavenderBlush로 지정 */
body {
  margin:0;
  background-color:LavenderBlush;
}
/* 모든 링크에 밑줄을 삭제 */
a {
  text-decoration:none;
}
/* h1과 ol을 묶어서 link라는 이름의 클래스로 묶고 글자 색을 분홍으로 지정 */
.link {
  color:Pink;
}
/* h1에 head라는 이름의 ID를 부여한 뒤 글자 색상을 Thistle로 지정, 폰트 크기를 키움 */
#head {
  color:Thistle;
  font-size:45px;
}
/* h1 글자를 중앙에 정렬 */
h1 {
  text-align:center;
  padding-bottom:21.44px;
  margin-bottom:0;
}
/* 버튼과 h1을 묶은 ID인 title의 하단에 선을 그음*/
#title {
  border-bottom:2px Pink solid;
}
/* 목록 우측에 선이 그어지도록 하며 width를 이용해 크기 조정 */
ol {
  border-right:2px Pink solid;
  width:100px;
  margin:0;
  padding:20px;
}
/* 목록과 본문을 묶어 grid라는 이름의 ID를 부여, 그리드를 사용하여 정렬 */
/* 목록의 크기는 150px로 고정, 본문의 크기는 1fr로 전체를 유동적으로 사용 */
#grid {
  display:grid;
  grid-template-columns: 150px 1fr;
}
/* padding 값을 수정하여 본문의 여백 조정 */
#article {
  padding-left:47px;
}
/* 미디어 쿼리를 이용한 반응형 디자인 */
@media(max-width:960px){
  #grid {
    /* 그리드였던 display를 block으로 바꿔 수직 정렬로 되돌려 놓음 */
    display:block;
  }
  #grid ol {
    /* 이전에 그어두었던 선을 지움 */
    border-right:none;
    /* 목록을 웹페이지의 크기에 상관없이 유동적으로 가운데 정렬 */
    display: table;
    margin-left: auto;
    margin-right: auto;
  }
  #grid div {
    /* 본문 위 목록과의 경계선을 그음 */
    border-top:2px Pink solid;
  }
}
